{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-css-modules"
    ],
    "plugins": [
        "stylelint-scss",
        "stylelint-order"
    ],
    "rules": {
        "at-rule-no-unknown": null,
        "scss/at-rule-no-unknown": true,
        "at-rule-empty-line-before": [
            "always",
            {
                "except": [
                    "blockless-after-same-name-blockless",
                    "first-nested"
                ],
                "ignore": [
                    "after-comment"
                ],
                "ignoreAtRules": [
                    "if",
                    "else"
                ]
            }
        ],
        "rule-empty-line-before": [
            "always",
            {
                "except": [
                    "first-nested"
                ],
                "ignore": [
                    "after-comment"
                ]
            }
        ],
        "comment-empty-line-before": "always",
        "block-closing-brace-newline-before": "always",
        "block-closing-brace-newline-after": [
            "always",
            {
                "ignoreAtRules": [
                    "if",
                    "else"
                ]
            }
        ],
        "declaration-no-important": null,
        "no-descending-specificity": null,
        "value-no-vendor-prefix": null,
        "selector-no-vendor-prefix": true,
        "selector-pseudo-element-colon-notation": "single",
        "selector-pseudo-element-no-unknown": [
            true,
            {
                "ignorePseudoElements": ["v-deep"]
            }
        ],
        "selector-pseudo-class-no-unknown": null,
        "indentation": [
            2,
            {
                "baseIndentLevel": 1
            }
        ],
        "number-leading-zero": "never",
        "unit-no-unknown": [
            true,
            {
                "ignoreUnits": ["dvh"]
            }
        ]
    }
}
